body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  height: 50vh;
  border: 3px solid ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskList{
  height: 30vh;
  overflow: auto;
}

.line{
  text-decoration: line-through;
}

#taskList::-webkit-scrollbar{
  visibility: hidden;
}

li{
  list-style: none;
  background-color: black;
  /* margin-bottom: 1%; */
  padding: 10px 20px;
  color: white;
  position: relative;
  right: 10%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.delete{
  width: 15%;
  height: 20%;
  color: red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease all;
}

.delete:hover{
  color: green;
}

i{
  margin-left: 50%;
}
input[type="text"] {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}
